In [17]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np

In [4]:
df_train = pd.read_csv('training_set_VU_DM.csv')

In [8]:
df_test = pd.read_csv('test_set_VU_DM.csv')

In [66]:
np.sum(df_train.isna(), axis=0)/len(df_train)

srch_id                        0.000000
date_time                      0.000000
site_id                        0.000000
visitor_location_country_id    0.000000
visitor_hist_starrating        0.949204
visitor_hist_adr_usd           0.948977
prop_country_id                0.000000
prop_id                        0.000000
prop_starrating                0.000000
prop_review_score              0.001485
prop_brand_bool                0.000000
prop_location_score1           0.000000
prop_location_score2           0.219902
prop_log_historical_price      0.000000
position                       0.000000
price_usd                      0.000000
promotion_flag                 0.000000
srch_destination_id            0.000000
srch_length_of_stay            0.000000
srch_booking_window            0.000000
srch_adults_count              0.000000
srch_children_count            0.000000
srch_room_count                0.000000
srch_saturday_night_bool       0.000000
srch_query_affinity_score      0.935986
orig_destination_distance      0.324258
random_bool                    0.000000
comp1_rate                     0.975813
comp1_inv                      0.973871
comp1_rate_percent_diff        0.980954
comp2_rate                     0.591664
comp2_inv                      0.570367
comp2_rate_percent_diff        0.887818
comp3_rate                     0.690565
comp3_inv                      0.667028
comp3_rate_percent_diff        0.904646
comp4_rate                     0.938008
comp4_inv                      0.930690
comp4_rate_percent_diff        0.973563
comp5_rate                     0.551792
comp5_inv                      0.524031
comp5_rate_percent_diff        0.830367
comp6_rate                     0.951565
comp6_inv                      0.947366
comp6_rate_percent_diff        0.980604
comp7_rate                     0.936401
comp7_inv                      0.928117
comp7_rate_percent_diff        0.972064
comp8_rate                     0.613449
comp8_inv                      0.599160
comp8_rate_percent_diff        0.876021
click_bool                     0.000000
gross_bookings_usd             0.972089
booking_bool                   0.000000
dtype: float64

In [6]:
df_train.head(20)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,...,NaN,NaN,NaN,NaN,1.0,0.0,31.0,0,NaN,0
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1,114.29,1
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
14,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,81437,3,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
15,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,85728,2,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
16,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88096,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,15.0,0,NaN,0
17,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88127,3,3.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
18,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88218,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
19,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,89073,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,5.0,0,NaN,0

In [47]:
df_train.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,4.958347e+06,4.958347e+06,4.958347e+06,251866.000000,252988.000000,4.958347e+06,4.958347e+06,4.958347e+06,4.950983e+06,4.958347e+06,...,96174.000000,315348.000000,356422.000000,138515.000000,1.916654e+06,1.987503e+06,614730.000000,4.958347e+06,138390.000000,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,3.374334,176.022659,1.739739e+02,7.007918e+04,3.180525e+00,3.777777e+00,6.346994e-01,...,17.250473,0.145969,0.083202,19.433267,-6.089936e-02,9.962752e-03,22.430384,4.474858e-02,386.283316,2.791051e-02
std,9.611223e+04,7.646890e+00,6.591625e+01,0.692519,107.254493,6.834525e+01,4.060992e+04,1.051024e+00,1.050329e+00,4.815144e-01,...,31.160313,0.578202,0.316722,54.370221,4.691723e-01,2.029142e-01,895.965854,2.067514e-01,821.190577,1.647165e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.410000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.000000,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,0.000000e+00,0.000000,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,2.920000,109.810000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,...,6.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,124.000000,0.000000e+00
50%,1.665070e+05,5.000000e+00,2.190000e+02,3.450000,152.240000,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,...,11.000000,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,218.400000,0.000000e+00
75%,2.497240e+05,1.400000e+01,2.190000e+02,3.930000,213.490000,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,...,18.000000,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,429.790000,0.000000e+00
max,3.327850e+05,3.400000e+01,2.310000e+02,5.000000,1958.700000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,...,1620.000000,1.000000,1.000000,9900.000000,1.000000e+00,1.000000e+00,149400.000000,1.000000e+00,159292.380000,1.000000e+00

In [5]:
df_train.columns

NameError: name 'df_train' is not defined

In [57]:
df_train.dtypes

srch_id                          int64
date_time                       object
site_id                          int64
visitor_location_country_id      int64
visitor_hist_starrating        float64
visitor_hist_adr_usd           float64
prop_country_id                  int64
prop_id                          int64
prop_starrating                  int64
prop_review_score              float64
prop_brand_bool                  int64
prop_location_score1           float64
prop_location_score2           float64
prop_log_historical_price      float64
position                         int64
price_usd                      float64
promotion_flag                   int64
srch_destination_id              int64
srch_length_of_stay              int64
srch_booking_window              int64
srch_adults_count                int64
srch_children_count              int64
srch_room_count                  int64
srch_saturday_night_bool         int64
srch_query_affinity_score      float64
orig_destination_distance      float64
random_bool                      int64
comp1_rate                     float64
comp1_inv                      float64
comp1_rate_percent_diff        float64
comp2_rate                     float64
comp2_inv                      float64
comp2_rate_percent_diff        float64
comp3_rate                     float64
comp3_inv                      float64
comp3_rate_percent_diff        float64
comp4_rate                     float64
comp4_inv                      float64
comp4_rate_percent_diff        float64
comp5_rate                     float64
comp5_inv                      float64
comp5_rate_percent_diff        float64
comp6_rate                     float64
comp6_inv                      float64
comp6_rate_percent_diff        float64
comp7_rate                     float64
comp7_inv                      float64
comp7_rate_percent_diff        float64
comp8_rate                     float64
comp8_inv                      float64
comp8_rate_percent_diff        float64
click_bool                       int64
gross_bookings_usd             float64
booking_bool                     int64
dtype: object

## Column dtypes

In [ ]:
feature_cols = df_train.columns.difference(['id', 'position', 'click_bool','gross_bookings_usd','booking_bool'])
float_cols = ['visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_review_score', 'prop_location_score1','prop_location_score2','prop_log_historical_price','price_usd','gross_booking_usd','srch_query_affinity_score','orig_destination_distance']

In [7]:
feature_cols = df_train.columns.difference(['id', 'position', 'click_bool','gross_bookings_usd','booking_bool'])
cat_feature_col = [ #rest assumed float
'srch_id'
,'site_id'
,'visitor_location_country_id'
,'prop_country_id'
,'prop_id'
,'prop_starrating'
,'prop_brand_bool'
,'promotion_flag'
,'srch_length_of_stay'
,'srch_booking_window'
,'srch_adults_count'
,'srch_children_count'
,'srch_room_count'
,'comp1_rate'
,'comp1_inv'
,'srch_destination_id'
,'srch_saturday_night_bool'
,'random_bool'
]

## Is there overlap between test and train with prop_ids

In [21]:
overlap = len(set(df_test['prop_id']).intersection(df_train['prop_id']))
print(f"{overlap/len(set(df_test['prop_id']))} of prop ids in test is in training set")
print(f"{overlap/len(set(df_train['prop_id']))} of prop ids in train is in test set")
overlap = len(set(df_test['srch_id']).intersection(df_train['srch_id']))
print(f"{overlap/len(set(df_test['srch_id']))} of srch ids in test is in training set")
print(f"{overlap/len(set(df_train['srch_id']))} of srch ids in train is in test set")

0.9399480832522135 of prop ids in test is in training set
0.9423140969538312 of prop ids in train is in test set
0.6009250860690858 of srch ids in test is in training set
0.600185189819565 of srch ids in train is in test set

## Create embedding id's

In [40]:
from collections import defaultdict
maps_to_ind = {}
maps_from_ind = {}
for col in cat_feature_col:
    unique = np.sort(df_train[col].unique().astype('int'))
    print(col+'_'*50, '\n',unique)
    nElements = len(unique+1)
    map_from_ind = {i+1:_ for i,_ in enumerate(unique)}
    map_to_ind = {_:i+1 for i,_ in enumerate(unique)}
    maps_from_ind[col] = defaultdict(lambda:None,map_from_ind)
    maps_to_ind[col] = defaultdict(lambda:0,map_to_ind)

srch_id__________________________________________________
 [     1      4      6 ... 332782 332784 332785]
site_id__________________________________________________
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34]
visitor_location_country_id__________________________________________________
 [  1   2   3   4   5   6   7   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  44  45  46  47  48  50  51  52  53  54  55  56  57  58
  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  76  77
  78  79  80  81  82  83  84  85  86  87  88  90  91  92  93  94  95  97
  98  99 100 101 102 103 105 106 107 108 109 110 111 112 113 114 115 116
 117 118 120 121 122 123 125 126 127 128 129 130 131 132 133 134 135 136
 137 138 139 140 142 145 146 148 149 150 151 152 153 154 155 156 157 158
 160 161 162 163 164 166 167 168 169 170 172 173 174 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 193 194 195 196 198 199 200
 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218
 219 220 221 222 223 224 226 227 228 229 230 231]
prop_country_id__________________________________________________
 [  1   2   4   7   9  10  11  13  14  15  16  17  18  19  20  21  22  23
  25  26  27  30  31  32  33  34  35  37  38  39  40  41  42  44  45  46
  47  48  50  51  53  55  56  57  59  60  61  62  63  65  68  69  70  71
  72  73  74  76  77  79  80  81  82  83  86  87  88  89  90  91  92  93
  96  97  98  99 100 102 103 106 108 109 111 112 113 117 119 120 122 123
 124 125 126 127 128 129 131 132 134 135 136 137 138 140 141 143 145 146
 149 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 167 169
 171 172 173 177 178 179 180 181 182 184 185 186 187 189 190 192 194 195
 196 197 200 201 202 203 204 205 206 207 208 211 212 213 214 215 216 217
 219 220 221 222 223 224 225 226 229 230]
prop_id__________________________________________________
 [     1      2      3 ... 140819 140820 140821]
prop_starrating__________________________________________________
 [0 1 2 3 4 5]
prop_brand_bool__________________________________________________
 [0 1]
promotion_flag__________________________________________________
 [0 1]
srch_length_of_stay__________________________________________________
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 33 34 41 44 57]
srch_booking_window__________________________________________________
 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 373 374 376 378 379 381
 382 383 384 385 386 388 389 390 391 394 395 396 397 399 401 402 403 404
 406 409 413 414 415 418 419 420 421 422 428 430 433 435 436 438 440 441
 443 445 448 449 463 467 471 472 475 477 478 480 482 488 492]
srch_adults_count__________________________________________________
 [1 2 3 4 5 6 7 8 9]
srch_children_count__________________________________________________
 [0 1 2 3 4 5 6 7 8 9]
srch_room_count__________________________________________________
 [1 2 3 4 5 6 7 8]
comp1_rate__________________________________________________
 [-9223372036854775808                   -1                    0
                    1]
comp1_inv__________________________________________________
 [-9223372036854775808                   -1                    0
                    1]
srch_destination_id__________________________________________________
 [    2     3     5 ... 28412 28413 28416]
srch_saturday_night_bool__________________________________________________
 [0 1]
random_bool__________________________________________________
 [0 1]

In [58]:
from data import TrainDataLoader

In [74]:
dl = TrainDataLoader(batch_size=512, negFrac=0.3, crossFrac=0.2)
X_query_cat, X_query_num, X_item_cat, X_item_num , w = dl[0]

In [72]:
X_query_cat, X_query_num, X_item_cat, X_item_num , w = dl[0]

In [75]:
for X_query_cat, X_query_num, X_item_cat, X_item_num , w in dl:
    print(X_query_cat.shape)

torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])

KeyboardInterrupt:

In [66]:
X_item_num

tensor([[1.0000e+00, 8.4110e+03, 2.0000e+00,  ..., 1.0000e+00, 1.0000e+00,
         1.0000e+00],
        [1.0000e+00, 1.5324e+04, 1.0000e+00,  ..., 1.0000e+00, 1.0000e+00,
         0.0000e+00],
        [1.0000e+00, 1.7510e+03, 1.0000e+00,  ..., 1.0000e+00, 1.0000e+00,
         0.0000e+00],
        ...,
        [1.0000e+00, 1.4043e+04, 1.0000e+00,  ..., 0.0000e+00, 1.0000e+00,
         0.0000e+00],
        [1.0000e+00, 4.5450e+03, 2.0000e+00,  ..., 1.0000e+00, 1.0000e+00,
         1.0000e+00],
        [1.0000e+00, 1.5768e+04, 2.0000e+00,  ..., 1.0000e+00, 1.0000e+00,
         0.0000e+00]])

In [47]:
dl.pos_ind

array([     12,      59,      63, ..., 4958304, 4958321, 4958345])

In [3]:
test.columns

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff', 'click_bool', 'gross_bookings_usd',
       'booking_bool', 'visitor_hist_starrating_isNaN',
       'visitor_hist_adr_usd_isNaN', 'prop_review_score_isNaN',
       'prop_location_score2_isNaN', 'srch_query_affinity_score_isNaN',
       'orig_destination_distance_isNaN', 'comp1_rate_percent_diff_isNaN',
       'comp2_rate_isNaN', 'comp2_inv_isNaN', 'comp2_rate_percent_diff_isNaN',
       'comp3_rate_isNaN', 'comp3_inv_isNaN', 'comp3_rate_percent_diff_isNaN',
       'comp4_rate_isNaN', 'comp4_inv_isNaN', 'comp4_rate_percent_diff_isNaN',
       'comp5_rate_isNaN', 'comp5_inv_isNaN', 'comp5_rate_percent_diff_isNaN',
       'comp6_rate_isNaN', 'comp6_inv_isNaN', 'comp6_rate_percent_diff_isNaN',
       'comp7_rate_isNaN', 'comp7_inv_isNaN', 'comp7_rate_percent_diff_isNaN',
       'comp8_rate_isNaN', 'comp8_inv_isNaN', 'comp8_rate_percent_diff_isNaN',
       'gross_bookings_usd_isNaN'],
      dtype='object')

In [4]:
test.head(20)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_isNaN,comp6_inv_isNaN,comp6_rate_percent_diff_isNaN,comp7_rate_isNaN,comp7_inv_isNaN,comp7_rate_percent_diff_isNaN,comp8_rate_isNaN,comp8_inv_isNaN,comp8_rate_percent_diff_isNaN,gross_bookings_usd_isNaN
0,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,825,4,3.5,...,1,1,1,1,1,1,0,0,1,1
1,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,9597,5,4.0,...,1,1,1,1,1,1,0,0,1,1
2,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,19603,4,4.5,...,1,1,1,1,1,1,0,0,1,1
3,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,25137,3,4.0,...,1,1,1,1,1,1,0,0,0,1
4,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,27222,5,3.5,...,1,1,1,1,1,1,0,0,1,1
5,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,27762,5,4.5,...,1,1,1,1,1,1,0,0,0,1
6,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,40533,4,3.5,...,1,1,1,1,1,1,0,0,1,1
7,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,46792,3,0.0,...,1,1,1,1,1,1,1,1,1,1
8,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,48944,5,4.0,...,1,1,1,1,1,1,0,0,0,1
9,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,52183,5,4.0,...,1,1,1,1,1,1,0,0,1,1
10,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,54382,4,0.0,...,1,1,1,1,1,1,0,0,1,1
11,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,54621,4,3.5,...,1,1,1,1,1,1,0,0,0,1
12,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,63235,3,3.0,...,1,1,1,1,1,1,0,0,0,0
13,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,68336,4,4.5,...,1,1,1,1,1,1,0,0,1,1
14,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,74703,4,4.0,...,1,1,1,1,1,1,0,0,1,1
15,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,78636,3,3.0,...,1,1,1,1,1,1,0,0,1,1
16,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,80797,5,4.0,...,1,1,1,1,1,1,0,0,0,1
17,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,80827,4,3.0,...,1,1,1,1,1,1,0,0,1,1
18,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,80910,5,3.5,...,1,1,1,1,1,1,0,0,1,1
19,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,81694,5,4.0,...,1,1,1,1,1,1,0,0,0,1

In [72]:
import numpy as np
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean', add_indicator=True)
imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
print(imp_mean.transform(X))

[[ 7.   2.   3.   0. ]
 [ 4.   3.5  6.   1. ]
 [10.   3.5  9.   1. ]]

In [75]:
np.sum(df_train['orig_destination_distance'].isna())

1607782

In [1]:
from model import getDefaultModel

In [2]:
from config import itemTowerCfg
from data import TrainDataLoader

In [3]:
mod = getDefaultModel()

In [4]:
mod

RecModel(
  (query_tower): Tower(
    (embeddings): ModuleList(
      (0): Embedding(199796, 16)
      (1): Embedding(35, 16)
      (2): Embedding(211, 16)
      (3): Embedding(37, 16)
      (4): Embedding(430, 16)
      (5): Embedding(10, 16)
      (6): Embedding(11, 16)
      (7): Embedding(9, 16)
      (8): Embedding(18128, 16)
      (9): Embedding(3, 16)
      (10): Embedding(3, 16)
    )
    (activation): ReLU()
    (numeric_ffw): ModuleList(
      (0): Linear(in_features=8, out_features=64, bias=True)
    )
    (shared_ffw): ModuleList(
      (0): Linear(in_features=240, out_features=256, bias=True)
      (1): Linear(in_features=256, out_features=128, bias=True)
      (2): Linear(in_features=128, out_features=16, bias=True)
    )
  )
  (item_tower): Tower(
    (embeddings): ModuleList(
      (0): Embedding(173, 16)
      (1): Embedding(129114, 16)
      (2): Embedding(7, 16)
      (3): Embedding(3, 16)
      (4): Embedding(3, 16)
      (5): Embedding(5, 16)
      (6): Embedding(5, 16)
    )
    (activation): ReLU()
    (numeric_ffw): ModuleList(
      (0): Linear(in_features=52, out_features=64, bias=True)
      (1): Linear(in_features=64, out_features=128, bias=True)
    )
    (shared_ffw): ModuleList(
      (0): Linear(in_features=240, out_features=256, bias=True)
      (1): Linear(in_features=256, out_features=128, bias=True)
      (2): Linear(in_features=128, out_features=16, bias=True)
    )
  )
)

In [5]:
dl = TrainDataLoader(batch_size=512, negFrac=0.3, crossFrac=0.2)
X_query_cat, X_query_num, X_item_cat, X_item_num , w = dl[0]
out1, out2 = mod(X_query_cat, X_query_num, X_item_cat, X_item_num)

torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 11])
torch.Size([512, 7])
torch.Size([512, 7])
torch.Size([512, 7])
torch.Size([512, 7])
torch.Size([512, 7])
torch.Size([512, 7])
torch.Size([512, 7])

In [10]:
from data import getTrainData
df = getTrainData(useCached=True)

Loaded train_data from disk

In [11]:
df.columns

Index(['srch_id', 'site_id', 'visitor_location_country_id', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_brand_bool', 'promotion_flag',
       'srch_length_of_stay', 'srch_booking_window', 'srch_adults_count',
       'srch_children_count', 'srch_room_count', 'comp1_rate', 'comp1_inv',
       'srch_destination_id', 'srch_saturday_night_bool', 'random_bool',
       'booking_bool', 'click_bool', 'comp1_rate_percent_diff',
       'comp1_rate_percent_diff_isNaN', 'comp2_inv', 'comp2_inv_isNaN',
       'comp2_rate', 'comp2_rate_isNaN', 'comp2_rate_percent_diff',
       'comp2_rate_percent_diff_isNaN', 'comp3_inv', 'comp3_inv_isNaN',
       'comp3_rate', 'comp3_rate_isNaN', 'comp3_rate_percent_diff',
       'comp3_rate_percent_diff_isNaN', 'comp4_inv', 'comp4_inv_isNaN',
       'comp4_rate', 'comp4_rate_isNaN', 'comp4_rate_percent_diff',
       'comp4_rate_percent_diff_isNaN', 'comp5_inv', 'comp5_inv_isNaN',
       'comp5_rate', 'comp5_rate_isNaN', 'comp5_rate_percent_diff',
       'comp5_rate_percent_diff_isNaN', 'comp6_inv', 'comp6_inv_isNaN',
       'comp6_rate', 'comp6_rate_isNaN', 'comp6_rate_percent_diff',
       'comp6_rate_percent_diff_isNaN', 'comp7_inv', 'comp7_inv_isNaN',
       'comp7_rate', 'comp7_rate_isNaN', 'comp7_rate_percent_diff',
       'comp7_rate_percent_diff_isNaN', 'comp8_inv', 'comp8_inv_isNaN',
       'comp8_rate', 'comp8_rate_isNaN', 'comp8_rate_percent_diff',
       'comp8_rate_percent_diff_isNaN', 'date_time', 'gross_bookings_usd',
       'gross_bookings_usd_isNaN', 'orig_destination_distance',
       'orig_destination_distance_isNaN', 'position', 'price_usd',
       'prop_location_score1', 'prop_location_score2',
       'prop_location_score2_isNaN', 'prop_log_historical_price',
       'prop_review_score', 'prop_review_score_isNaN',
       'srch_query_affinity_score', 'srch_query_affinity_score_isNaN',
       'visitor_hist_adr_usd', 'visitor_hist_adr_usd_isNaN',
       'visitor_hist_starrating', 'visitor_hist_starrating_isNaN'],
      dtype='object')

In [40]:
from data import ITEM_CAT_FEATURE_COLS, ITEM_FEATURE_COLS
ITEM_CAT_FEATURE_COLS

['prop_country_id',
 'prop_id',
 'prop_starrating',
 'prop_brand_bool',
 'promotion_flag',
 'comp1_rate',
 'comp1_inv']

In [2]:
from data import getTrainData, getTrainArrays, getMappings
#df_train = getTrainData(useCached=True)

In [3]:
df_train_query, df_train_item, df_train_rel = getTrainArrays(useCached=False)

In [22]:
df_train[df_train.columns[0:30]].head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,srch_query_affinity_score,orig_destination_distance,random_bool,comp1_rate,comp1_inv,comp1_rate_percent_diff
0,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,825,4,3.5,...,4,1,1,2,-24.146418,1301.234406,2,0,0,244.229916
1,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,9597,5,4.0,...,4,1,1,2,-24.146418,1301.234406,2,0,0,244.229916
2,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,19603,4,4.5,...,4,1,1,2,-24.146418,1301.234406,2,0,0,244.229916
3,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,25137,3,4.0,...,4,1,1,2,-24.146418,1301.234406,2,0,0,244.229916
4,1,2013-04-04 08:32:15,12,169,3.374334,176.022659,163,27222,5,3.5,...,4,1,1,2,-24.146418,1301.234406,2,0,0,244.229916

In [3]:
df_train_item

array([[1.63000e+02, 8.25000e+02, 4.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.63000e+02, 9.59700e+03, 5.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.63000e+02, 1.96030e+04, 4.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       ...,
       [1.63000e+02, 8.66560e+04, 4.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.63000e+02, 1.17674e+05, 4.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 0.00000e+00],
       [1.63000e+02, 1.23728e+05, 4.00000e+00, ..., 1.00000e+00,
        1.00000e+00, 0.00000e+00]])

In [11]:
mapping, _ = getMappings()

In [12]:
from data import getTrainArrays, getMappings, ITEM_CAT_FEATURE_COLS

{k:len(v) for k,v in mapping.items()}

{'srch_id': 199795,
 'site_id': 34,
 'visitor_location_country_id': 210,
 'prop_country_id': 172,
 'prop_id': 129113,
 'prop_starrating': 6,
 'prop_brand_bool': 2,
 'promotion_flag': 2,
 'srch_length_of_stay': 36,
 'srch_booking_window': 429,
 'srch_adults_count': 9,
 'srch_children_count': 10,
 'srch_room_count': 8,
 'comp1_rate': 4,
 'comp1_inv': 4,
 'srch_destination_id': 18127,
 'srch_saturday_night_bool': 2,
 'random_bool': 2}

In [13]:
ITEM_CAT_FEATURE_COLS

['prop_country_id',
 'prop_id',
 'prop_starrating',
 'prop_brand_bool',
 'promotion_flag',
 'comp1_rate',
 'comp1_inv']

In [13]:
from config import itemTowerCfg
itemTowerCfg.embedding_dict_size

[173, 129114, 7, 3, 3, 5, 5]

In [20]:
dl.train_item.max(axis=0)

array([ 5.000000e+00,  1.958700e+03, -2.494100e+00,  1.166664e+04,
        1.997950e+05,  3.400000e+01,  2.100000e+02,  3.600000e+01,
        4.290000e+02,  9.000000e+00,  1.000000e+01,  8.000000e+00,
        1.812700e+04,  2.000000e+00,  2.000000e+00,  1.000000e+00,
        1.000000e+00,  1.000000e+00,  1.000000e+00,  1.000000e+00,
        1.000000e+00,  1.000000e+00,  1.000000e+00])

In [22]:
X_item_num.max(axis=0)

torch.return_types.max(
values=tensor([2.4000e+01, 2.8300e+02, 7.0000e+00, 5.0000e+00, 4.0000e+00, 1.8097e+04,
        2.0000e+00, 2.0000e+00, 1.0000e+00, 1.0000e+00, 1.0000e+00, 1.0000e+00,
        1.0000e+00, 1.0000e+00, 1.0000e+00, 1.0000e+00]),
indices=tensor([153,  48,  53, 266,  53, 334,   0,   2,   0,   0,   0,   0,   0,   0,
          0,   0]))